html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 700;
    margin: 1.25em;
    margin-top: 75px;
    margin-bottom: 75px;
}

body {
    font-family: 'Cabin', sans-serif;
}

.customNav {
    position: sticky;
    width: 100%;
    background-color: #FFFFFF !important;
    background-size: cover;
    z-index: 10;
    /* border-bottom: 10px solid #C6C69C; */
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
}

.nav-item {
    margin: 0px 15px;
}

.customNav a {
    color: black !important;
}

.navbar-nav a:hover {
    color: #C6C69C !important;
}

.jumbotron {
    background-image: url("../images/hero2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 10px solid #C6C69C; */
}

.jumbotronServ {
    background-image: url("../images/hero1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid black;
}

.jumboCopy {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    height: 30vh;
    width: 100vh;
    margin: 0 auto;
    border-radius: 20px;
    padding: 1.5em;
    color: #E9ECEF;
}

.aboutABS {
    margin-top: 100px;
}

.about-content {
    text-align: right;
    font-size: larger;
}

.aboutIMG {
    margin-left: 50px;
}

.services {
    margin-top: 100px;
    padding: 1em;
    background-image: url("../images/bg2.png");
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.btn-primary {
    margin: 40px auto;
    width: 50%;
    padding: 10px;
    background: url(/ABS-Website/assets/images/transparency.png);
    border: none;
  }

.card {
    margin: 25px;
    border-radius: 10px;
}

.card:hover {
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #C6C69C;
    transition: box-shadow 0.3s ease-in-out;
}

.card-body {
    border: 1px solid #C6C69C;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cardContainer img {
    min-height: 325px;
    max-height: 349px;
    border: 1px solid white    ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-weight: bold;
}

.people {
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 1em;
}

.people-content {
    margin: 20px auto;
    font-size: larger;
}

.people p {
    color: black;
    text-align: left;
    margin: 20px;
}

.people-img img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin-left: 30px;
}

footer {
    background-color: #C6C69C;
    border-top: 10px solid black;
}

/* Services Page */

.serv1 {
    background-image: url("../images/bg2.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 10px solid #C6C69C; */
}

.serv2 {
    background-image: url("../images/bg1.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 10px solid #C6C69C; */
}

.serv3 {
    background-image: url("../images/bg2.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 10px solid #C6C69C; */
}

.serv4 {
    margin-top: 100px;
}

.servIMG1, .servIMG3 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 50px 0 0 50px;
}

.servIMG2, .servIMG4 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 50px 0 0 -70px;
}



.footServ {
    background-color: #C6C69C;
    border-top: 10px solid black;
    margin-top: 130px;
}